/** {
  border: 1px solid red !important;
}*/

body {
/*    text-align: center;*/
    background-color: black;
    margin: 0;
    overflow: hidden;
}

.canvas-overlay {
    position: relative;
}

canvas {
/*    position: absolute;
    top: 0;
    left: 0;*/
}

canvas {
    position: absolute;
}

.score, .lives, .topscore {
    position: absolute;
    top: 5px;
    color: #ff7f00;
    font-family: Helvetica, sans-serif;
    font-size: 2vh;
    cursor: default;
    display: none;
}

.game-over {
    position: absolute;
    top: 200px;
    color: #ff7f00;
    font-family: Helvetica, sans-serif;
    font-size: 5vh;
    cursor: default;
    display: none;
    text-align: center;
    z-index: 2;
}

.game-over span {
    font-size: 4vh;
    cursor: pointer;
    position: relative;
}

.game-over span:hover {
    color: #ffd700;
}

.loading {
    position: absolute;
    top: 100px;
/*    left: 210px;*/
    color: #ff7f00;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    cursor: default;
}

@media screen and (min-width: 1440px) {
    body {
/*        text-align: center;*/
    }

}

