/** {
  border: 1px solid red !important;
}*/

body {
/*    text-align: center;*/
    background-color: black;
    margin: 0;
    overflow: hidden;
}

.canvas-overlay {
    position: relative;
}

canvas {
/*    position: absolute;
    top: 0;
    left: 0;*/
}

canvas {
    position: absolute;
}

#canvas-game {
    z-index: 0;
}

.controller btn {
  text-align: center;
  position: absolute;
  z-index: 2;
  border-radius: 60px;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  font-family: Courier New;
  color: #ffffff;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  font-size: 5vh;
  line-height: 5vh;
}

.btn-up {
  top: 72vh;
  left: 42vw;
  height: 5vh;
  width: 6vw;
  background: #d9d63b;
  background-image: -webkit-linear-gradient(top, #d9d63b, #e8e10e);
  background-image: -moz-linear-gradient(top, #d9d63b, #e8e10e);
  background-image: -ms-linear-gradient(top, #d9d63b, #e8e10e);
  background-image: -o-linear-gradient(top, #d9d63b, #e8e10e);
  background-image: linear-gradient(to bottom, #d9d63b, #e8e10e);

}

.btn-up:active {
  background: #BDB600;
}

.btn-left {

  top: 78vh;
  left: 27vw;
  z-index: 2;
  height: 5vh;
  width: 6vw;
  background: #7cb6c4;
  background-image: -webkit-linear-gradient(top, #7cb6c4, #105a78);
  background-image: -moz-linear-gradient(top, #7cb6c4, #105a78);
  background-image: -ms-linear-gradient(top, #7cb6c4, #105a78);
  background-image: -o-linear-gradient(top, #7cb6c4, #105a78);
  background-image: linear-gradient(to bottom, #7cb6c4, #105a78);
}

.btn-left:active {
  background: #0A4861;
}

.btn-down {

  top: 84vh;
  left: 42vw;
  z-index: 2;
  height: 5vh;
  width: 6vw;
  background: #1dc924;
  background-image: -webkit-linear-gradient(top, #1dc924, #107814);
  background-image: -moz-linear-gradient(top, #1dc924, #107814);
  background-image: -ms-linear-gradient(top, #1dc924, #107814);
  background-image: -o-linear-gradient(top, #1dc924, #107814);
  background-image: linear-gradient(to bottom, #1dc924, #107814);
}

.btn-down:active {
  background: #085C0B;
}

.btn-right {
  top: 78vh;
  left: 57vw;
  z-index: 2;
  height: 5vh;
  width: 6vw;
  background: #a52222;
  background-image: -webkit-linear-gradient(top, #a52222, #520101);
  background-image: -moz-linear-gradient(top, #a52222, #520101);
  background-image: -ms-linear-gradient(top, #a52222, #520101);
  background-image: -o-linear-gradient(top, #a52222, #520101);
  background-image: linear-gradient(to bottom, #a52222, #520101);
}

.btn-right:active {
  background: #330000;
}

#score-board1 {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/

}

.score, .lives, .topscore {
    position: absolute;
    top: 5px;
    color: #ff7f00;
    font-family: Helvetica, sans-serif;
    font-size: 2vh;
    cursor: default;
    display: none;
}

.game-over {
    position: absolute;
/*    top: 200px;*/
/*    color: #ff7f00;
    font-family: Helvetica, sans-serif;*/
    font-size: 5vh;
    cursor: default;
    display: none;
    text-align: center;
    z-index: 2;
    font-weight: 700;
    color: black;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #66CC00, 0 0 30px #66CC00, 0 0 40px #66CC00, 0 0 50px #66CC00, 0 0 75px #66CC00;
  /*  letter-spacing: 5px;*/
    font-family: 'Orbitron', sans-serif;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

.game-over span {
    font-size: 4vh;
    cursor: pointer;
    position: relative;
}

.game-over span:hover {
    color: #ffd700;
}

.loading {
    position: absolute;
    top: 100px;
/*    left: 210px;*/
    color: #ff7f00;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    cursor: default;
}

/* ----------- iPhone 5 and 5S ----------- */


/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
   /* -31 top +30 left*/

    .controller btn {
      padding: 12px 15px 12px 15px;
      font-size: 5vw;
      width: 2.3vw;
      height: 6vh;
      line-height: 6vh;

    }
    .btn-up {
      top: 37vh;
      left: 72vw;


    }
    .btn-left {
      top: 47vh;
      left: 64vw;

    }
    .btn-right {
      top: 47vh;
      left: 80vw;

    }
    .btn-down {
      top: 56vh;
      left: 72vw;

    }

/*    .game-over {
      top: 40vh;
      left: 15vw;

    }*/

}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .btn-up {
      top: 72vh;
      left: 43vw;
    }
    .btn-left {
      top: 78vh;
      left: 28vw;
    }

    .btn-down {
      top: 84vh;
      left: 43vw;
    }

    .btn-right {
      top: 78vh;
      left: 58vw;
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .controller btn {
      padding: 12px 15px 12px 15px;
      font-size: 5vw;
      width: 3.3vw;
      height: 7vh;
      line-height: 7vh;

    }
    .btn-up {
      top: 37vh;
      left: 72vw;


    }
    .btn-left {
      top: 47vh;
      left: 64vw;

    }
    .btn-right {
      top: 47vh;
      left: 80vw;

    }
    .btn-down {
      top: 56vh;
      left: 72vw;

    }

}
/*iPhone 6 Plus Landscape*/
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .controller btn {
      padding: 12px 15px 12px 15px;
      font-size: 5vw;
      width: 3.3vw;
      height: 7vh;
      line-height: 7vh;

    }
    .btn-up {
      top: 37vh;
      left: 72vw;


    }
    .btn-left {
      top: 47vh;
      left: 64vw;

    }
    .btn-right {
      top: 47vh;
      left: 80vw;

    }
    .btn-down {
      top: 56vh;
      left: 72vw;

    }

}

@media only screen and
(min-device-width: 481px)
and (max-device-width: 1024px)
and (orientation:portrait) {
  /* For portrait only */
      .btn-up {
      top: 84vh;
      left: 45vw;
    }
    .btn-left {
      top: 88vh;
      left: 35vw;
    }

    .btn-down {
      top: 92vh;
      left: 45vw;
    }

    .btn-right {
      top: 88vh;
      left: 55vw;
    }

}

@media only screen and
(min-device-width: 481px)
and (max-device-width: 1024px)
and (orientation:landscape) {
  /* For lanscape only */
    .controller btn {
      padding: 12px 15px 12px 15px;
      font-size: 4vw;
      width: 4vw;
      height: 6vh;
      line-height: 6vh;
    }
    .btn-up {
      top: 38vh;
      left: 76vw;


    }
    .btn-left {
      top: 46vh;
      left: 70vw;

    }
    .btn-right {
      top: 46vh;
      left: 82vw;

    }
    .btn-down {
      top: 54vh;
      left: 76vw;

    }

}

@media screen and (min-width: 1440px) {
    body {
/*        text-align: center;*/
    }

}

